@import "variables";

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: $fondo;
    width: 100%;
}

#navmenu-desplegable{
    align-items: center;
    
}

.subheader{
    background-color: #6c708b;
    color: $titulo;
    text-align: center;
    border-style:solid;
    border-color:  #135fd4;
    font-size: $letragrande;
}

li{
    font-size: $letramediana;
}

.derechos{
    text-align: center;
    background-color: #135fd4;
    color:black;
    font-weight: bolder;
    font-size: $letrachica;
    padding: 20px;
    margin-top: 130px;
}
