@import "variables";
@import "mixins";

#carouselExampleControls{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.padre-info{
    background-color: #6c708b;
    margin-top: 110px;
    color: black;
    @include gridcuatrocolumnas;
}

.info{
    text-align: center;
    margin-top: 30px;
}

.data__title{
    font-size: $letramediana;
    font-weight: bold;
}


