@media screen and (max-width: 870px) {
    .padre-info{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 599px) {
    .padre-info{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 760px) {
    #productos{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 515px) {
    #productos{
        grid-template-columns: repeat(1,1fr);
    }
}